/* Variables  */
:root {
	--red: #f6511d;
	--yellow: #ffb400;
	--light-blue: #00a6ed;
	--dark-blue: #0d2c54;
	--green: #7fb800;
}

.text-red {
	color: var(--red);
}

.text-yellow {
	color: var(--yellow);
}

.text-light-blue {
	color: var(--light-blue);
}

.text-dark-blue {
	color: var(--dark-blue);
}

.text-green {
	color: var(--green);
}

.bg-red {
	background-color: var(--red);
}

.bg-yellow {
	background-color: var(--yellow);
}

.bg-light-blue {
	background-color: var(--light-blue);
}

.bg-dark-blue {
	background-color: var(--dark-blue);
}

.bg-green {
	background-color: var(--green);
}

.border-red {
	border-color: var(--red);
}

.border-yellow {
	border-color: var(--yellow);
}

.border-light-blue {
	border-color: var(--light-blue);
}

.border-dark-blue {
	border-color: var(--dark-blue);
}

.border-green {
	border-color: var(--green);
}

/* Global styles */
html {
	font-family: Arial, Helvetica, sans-serif;
}

main {
	padding: 2rem;
}
